.task-container {
    display: flex;
    width: fit-content;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    /* background-color: #274c6c; */
    transition: .2s;
}

.task-container:hover {
    background-color: #242d34;
}

.task-name {
    text-align: start;
}

.task-name, .buttons {
    padding: 10px;
}

.crossedOutText {
    text-decoration: line-through;
    color: #707070;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.inputTaskContainer {
    padding: 10px;
}

.inputTaskContainer__input {
    width: 100%;
    text-align: center;
    /* background-color: var(--secondary-color); */
    font-size: 16px;
    /* border: none; */
    /* border-bottom: solid 1px #ccc; */
}