.todo {
    padding: 7% 0;
}

.todo__form {
    display: flex;
    justify-content: center;
}

.todo__form--text-input {
    outline: none;
    border: none;
    height: 26px;
    border-radius: 4px;
    margin: 0 10px;
}

.todo__task-container {
    width: 80%;
    min-width: 300px
}

.todo__task-container ul {
    list-style: none;
    padding: 0;
}