.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__title {
    margin: 0;
    font-size: 22px;
}

/* Momentaneamente será ocultado el menú, hasta que se configuren nuevas páginas */
.header__menu {
    display: none;
}

.create-task-container {
    display: flex;
    justify-content: center;
    margin: 3% auto;
    border-radius: 8px;
    background-color: var(--secondary-color);
    width: 70%;
}

.button-primary {
    border: none;
    border-radius: 4px;
    padding: 0 15px;
    background-color: var(--primary-color);
    transition: all 200ms;
}

.button-primary:hover {
    background-color: var(--primary-color-hover);
    -webkit-box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.3);
    box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.3);
}