.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__title {
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
}

.header__title--version {
    font-size: 15px;
}

/* Momentaneamente será ocultado el menú, hasta que se configuren nuevas páginas */
.header__menu {
    display: none;
}

/* .create-task-container {
    display: flex;
    justify-content: center;
    margin: 3% auto;
    border-radius: 8px;
    background-color: var(--secondary-color);
    width: 70%;
} */